body {
	font-family: sans-serif;
	font-size: 14px;
}
h1, h2 {
	font-family: serif;
	border-bottom: 1px solid #808080;
}
a {
	text-decoration: none;
}
.italic {
	font-style: italic;
}
.contents {
	border: 1px solid #808080; 
	background-color: darkgrey;
	width: 250px;
	text-align: left;
}
.contents ul {
	list-style: none;
}
table {
	width: 500px;
	margin: auto;
}
table, th, td {
	border: 1px #000000;
	border-style: solid;
}
th {
	background-color: chocolate;
}
td {
	background-color: lightslategray;
}
caption {
	font-weight: bold;
}
.gallery {
	list-style: none;
}
.gallerybox {
	display: inline-block;
	width: 220px;
	vertical-align: top;
}
.gallerythumb img {
	width: 200px;
	height: 100px;
}